* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 65.2%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    background: #121214;
}

body, button {
    transition: .6s;
}

button {
    border: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19.2rem;
    padding: 2rem;
}

.set-mode {
    position: fixed;
    top: 6rem;
    right: 6rem;
    cursor: pointer;
}

.set-mode img:hover {
    transform: scale(1.2);
    transition: .8s;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer .time span {
    font-size: clamp(4rem, 6.6rem + 5.6vw, 12.6rem)
}

.timer .controls button {
    background-color: transparent;
    cursor: pointer;
}

.timer .controls button:nth-child(3),
.timer .controls button:nth-child(4),
.timer .controls button:nth-child(5) {
    margin-left: clamp(3rem, 2rem + 2vw, 4rem);
}

.timer .controls button svg {
    width: clamp(2rem, 2rem + 3vw, 4.8rem);
}

.timer .controls button path {
    fill: #C4C4CC;
}


.timer .controls button:hover svg {
    transform: scale(1.2);
    transition: .8s;
}

.sounds {
    display: grid;
    grid-template-areas:
        "forest cloud"
        "market  fire";
    gap: 3.2rem;
}

.sounds button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: clamp(2.4rem, 0.4rem + 2vw, 49.9rem);
    border-radius: 2.4rem;
    width: clamp(6.4rem, 6.4rem + 15vw, 13.8rem);
    background: #29292E;
}

.sounds button svg {
    width: clamp(2rem, 2rem + 1vw, 4rem);
}


.sounds button svg path{
    fill: #C4C4CC;
    width: clamp(2rem, 3rem + 1vw, 4rem);
}

.sounds button:hover {
    background: #EF5DA8;
    transition: 600ms;
    cursor: pointer;
}

.sounds button:hover path {
    fill: #FFFFFF;
    transition: 600ms;
}

.sounds button:hover .slide,
.sounds button:hover .slide::-webkit-slider-thumb  {
    transition: 600ms;
    background: #FFFFFF;
}

.forest {
    grid-area: forest;
}

.clouds-rain {
    grid-area: cloud;
}

.market {
    grid-area: market;
}

.fire {
    grid-area: fire;
}

.slide {
    appearance: none;
    width: clamp(90%, 3rem + 6vw, 9rem);
    height: .4rem;
    margin-top: 3.2rem;
    cursor: pointer;
    background-color: #FFFFFF;
    border-radius: .5rem;
}

.slide::-webkit-slider-thumb {
    appearance: none;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    background-color: #FFFFFF;
}

@media (max-width: 912px) {
    main {
        display: flex;
        flex-direction: column;
        gap: 12rem;
    }
}

.hide {
    display: none;
}